// fontes
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

// ..............................................................................................................

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  // padding: 10px 20px;
  height: 150px;
  border-bottom: 1px solid rgba(51, 31, 31, 0.1);
  width: 70%;
  font-family: "Poppins", sans-serif;

  // border: 1px solid black;

  &_logo{
    // border: 1px solid black;
    display: flex;
    align-items: center;

    img{
      height: 100px;
      // width: 100px;
      // border: 1px solid red;
    }

    h1{
      // color: #222831;
      color: rgba(51, 31, 31, 0.7);
      line-height: 33px;
      font-family: "Norican", cursive;
      font-size: 2rem;
    }
  }

  // desktop
  &_desktop_links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 550px;
    // border: 1px solid black;

    li{
      a{
        color: #222831;
        font-size: 1.3rem;
        text-decoration: none;
        transition: 0.3s;

        &:hover{
          color: #7DD3F6;
        }
      }
    }
  }

  // mobile
  &_mobile_menu{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    z-index: 5;

    // &_close{
    //   margin-top: 20px;
    //   margin-right: 20px;
    //   display: block;
    //   align-self: end;
      
    // }

    &_links{
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 1.2rem;
      width: 80%;
      list-style: none;
      padding: 0;
  
      li{
        // border-bottom: 1px solid #787272;
        padding-bottom: 1.2rem;
  
        a{
          list-style-type: none;
          color: #fff;
          text-decoration: none;
          transition: 0.3s;

          &:hover{
            color: #7DD3F6;
          }
        }
        
      }
    }
  }


}


.navbar_hamburger_button,
.navbar_mobile_menu_close {
  font-size: 28px;
  background: none;
  border: none;
  color: #222831;
  cursor: pointer;
  display: none;
}

.navbar_mobile_menu_close {
  margin-top: 60px;
  margin-right: 35px;
  display: block;
  align-self: end;
  color: #f7f7f7;
}

.flex {
  display: flex;
}






//RESPONSIVIDADE
// desktop

// 1200px
@media (max-width: 1200px){
  .navbar{
    width: 80%;
  
    &_logo{
  
      img{
        height: 100px;
      }
  
      h1{
        font-size: 2rem;
      }
    }
  
    // desktop
    &_desktop_links{
      width: 480px;
  
      li{
        a{
          font-size: 1.3rem;
        }
      }
    }
  }
}

// 1100px
@media (max-width: 1100px){
  .navbar{
    &_logo{
      img{
        height: 90px;
      }
  
      h1{
        font-size: 1.8rem;
      }
    }
  
    // desktop
    &_desktop_links{
      width: 450px;
  
      li{
        a{
          font-size: 1.2rem;
        }
      }
    }
  }
}


// 1000px
@media (max-width: 1000px){
  .navbar{
    &_logo{
      img{
        height: 90px;
      }
  
      h1{
        font-size: 1.8rem;
      }
    }
  
    // desktop
    &_desktop_links{
      display: flex;
      align-items: center;
      width: 400px;
      // border: 1px solid black;
  
      li{
        display: flex;
        justify-content: center;
        width: 30%;
        // border: 1px solid red;
        a{
          font-size: 1.2rem;
          text-align: center;
        }
      }
    }
  }
}


// 900px
@media (max-width: 900px){
  .navbar{
    &_logo{
      img{
        height: 80px;
      }
  
      h1{
        font-size: 1.6rem;
      }
    }
  
    // desktop
    &_desktop_links{
      display: flex;
      align-items: center;
      width: 350px;
      // border: 1px solid black;
  
      li{
        display: flex;
        justify-content: center;
        width: 100%;
        // border: 1px solid red;
        a{
          font-size: 1.2rem;
          text-align: center;
        }
      }
    }
  }
}



// mobile

// 770px
@media (max-width: 770px){

  .navbar{
    width: 83%;

    &_logo{
      img{
        height: 80px;
      }
  
      h1{
        font-size: 1.8rem;
      }
    }
  }

  // interatividade
  .navbar_desktop_links{
    display: none;
  }

  .navbar_hamburger_button{
    display: block;
  }
}

// 472px
@media (max-width: 472px){
  .navbar{
    width: 83%;

    &_logo{
      img{
        height: 70px;
      }
  
      h1{
        font-size: 1.4rem;
      }
    }
  }
}


















// * {
//   padding: 0;
//   border: 0;
//   margin: 0;
//   box-sizing: border-box;
//   // background-color: $light
//   background-color: #f7f7f7;
// }

// .header {
//   display: flex;
//   justify-content: center;
//   position: sticky;
//   min-width: 450px;
//   top: 0;
//   font-family: "Poppins", sans-serif;
//   color: #3D3B40;
//   transition: .5s;
//   // border: 1px solid black;

//   &.hide{
//     transform: translateY(-100%);
//   }

//   &_content {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     // align-items: center;
//     height: 150px;
//     width: 70%;
//     // border: 1px solid blue;

//     &_logo {
//       display: flex;
//       align-items: center;
//       height: 100%;
//       // border: 1px solid blue;

//       img {
//         height: 80%;
//         // border: 1px solid black;
//       }

//       h1 {
//         display: flex;
//         align-items: center;
//         line-height: 33px;
//         font-family: "Norican", cursive;
//         font-size: 33px;
//         // border: 1px solid red;
//       }
//     }

//     &_desktop {
//       // display: none;
//       ul {
//         display: flex;
//         justify-content: space-between;
//         width: 600px;
//         // border: 2px solid black;

//         li {
//           display: flex;
//           font-size: 1.5rem;
//           cursor: pointer;
//           // border: 1px solid red;

//           a {
//             text-decoration: none;
//             color: #222831;
//             transition: .5s;

//             &:hover {
//               color: #7DD3F6;
//             }
//           }
//         }
//       }
//     }
//   }
// }





// // 900px
// @media screen and (max-width: 900px){
//   .header {
//     // border: 1px solid black;

//     &_content {
//       height: 100px;
//       width: 85%;
//       // border: 1px solid blue;

//       &_logo {
//         // border: 1px solid blue;
  
//         img {
//           height: 75%;
//           // border: 1px solid black;
//         }
  
//         h1 {
//           font-size: 25px;
//           // border: 1px solid red;
//         }

        
//       }

//       &_desktop {
//         ul {
//           // border: 2px solid black;
  
//           li {
//             display: flex;
//             align-items: center;

//             a {
//               display: flex;
//               justify-content: center;
//               width: 100px;
//             }
//           }
//         }
//       }

//       // &_mobile{
//       //   display: inline;

//       //   display: flex;
//       //   justify-content: center;
//       //   align-items: center;

//       //   cursor: pointer;
//       // }
//     }
//   }       
// }

// // 1030px
// @media screen and (max-width: 1030px){
//   .header {
//     &_content {
//       width: 80%;

//       // border: 1px solid blue;

//       &_logo {
//         // border: 1px solid blue;
  
//         img {
//           height: 70%;
//           // border: 1px solid black;
//         }
  
//         h1 {
//           font-size: 26px;
//           // border: 1px solid red;
//         }
//       }

//       &_desktop {
//         ul {
//           width: 370px;
//           // border: 1px solid red;
  
//           li {
//             font-size: 1.2rem;
//             // border: 1px solid red;
//           }
//         }
//       }
//     }
//   }       
// }

// // 1130
// @media screen and (max-width: 1130px){
//   .header {
//     &_content {
//       &_logo {

//         img {
//           height: 65%;
//           // border: 1px solid black;
//         }

//         h1 {
//           font-size: 26px;
//         }
//       }

//       &_desktop {
//         ul {
//           width: 320px;
  
//           li {
//             font-size: 1.2rem;
//           }
//         }
//       }
//     }
//   }       
// }

// // 1153
// @media screen and (max-width: 1300px){
//   .header {
//     &_content {
//       &_logo {
//         img {
//           height: 70%;
//           // border: 1px solid black;
//         }
  
//         h1 {
//           font-size: 28px;
//           // border: 1px solid red;
//         }
//       }
      
//       &_desktop {
//         ul {
//           width: 400px;
//           // border: 1px solid red;
  
//           li {
//             font-size: 1.2rem;
//           }
//         }
//       }
//     }
//   }       
// }


/*# sourceMappingURL=Header.scss.map */