@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

// ..................................................................................................................

.mainPage{
    width: 70%;
    margin: 0 auto;
    // border: 1px solid red;
    &_text{
        font-family: "Poppins", sans-serif;
        font-size: 1.3rem;
        padding: 50px 0 0 0;
    }
}





// RESPONSIVIDADE
// desktop

// 1200px
@media (max-width: 1200px){
    .mainPage{
        width: 80%;
    }
}

// 1100px
@media (max-width: 1100px){
    .mainPage{
        &_text{
            font-size: 1.2rem;
        }
    }
    
}

// 900px
@media (max-width: 1100px){
    .mainPage{
        &_text{
            font-size: 1.1rem;
        }
    }
    
}



// mobile

// 472px
@media (max-width: 472px){
    .mainPage{
        width: 80%;
        &_text{
            font-size: 1.05rem;
        }
    }
    
}

// 400px
@media (max-width: 400px){
    .mainPage{
        width: 80%;
        &_text{
            font-size: 1rem;
        }
    }
    
}

